<span
  class="major"
  *ngFor="let major of majorFifths; let i = index"
  [style.left]="x(i * 30, 0.8)"
  [style.top]="y(i * 30, 0.8)"
  [class.active]="i === currentIndex"
  (click)="draw(i)">
  {{major}}
</span>

<span
  class="minor"
  *ngFor="let minor of minorFifths; let j = index"
  [style.left]="x(j * 30, 0.55)"
  [style.top]="y(j * 30, 0.55)"
  [class.active]="j === currentIndex">
  {{minor}}
</span>

<canvas
  id="chords"
  [width]="size"
  [height]="size">
</canvas>

<div
  class="legend">
  <p>Major</p>
  <p>Minor</p>
  <p>Diminished</p>
</div>